@(message: String)

@main("Dashboard") {
    <div id="dashboard">
        <div class="col-sm-2 col-md-2" id="sidebar">
            <div class="bs-docs-sidenav">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#create-form">
                    Create
                </button>
            </div>
            <ul class="nav nav-list bs-docs-sidenav collapse navbar-collapse" data-bind="foreach: documentList">
                <li data-bind="css: {active: $root.document.id == id}">
                    <a href="#" data-bind="text: shortTitle(), click: $root.selectDocument"></a><i class="icon-chevron-right"></i>
                </li>
            </ul>
        </div>
        <!--/span-->
        <div class="modal fade" id="create-form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create document</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="document-title">Document title</label>
                            <input type="email" class="form-control" id="document-title" placeholder="Choose a title..." data-bind="value: newDocumentTitle">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" data-bind="click: createDocument">Create</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>


        <div class="col-sm-10 col-md-10" data-bind="with: document">
            <div class="row">
                <div class="col-sm-12 col-md-12" id="content">
                    <div class="row">
                        <!-- block -->
                        <div class="panel panel-default">
                            <div class="panel-heading navbar-default">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: title">
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#delete-confirm">Delete</button>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <textarea id="documnent-editor" class="form-control" rows="30" data-bind="value: body"></textarea>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete-confirm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete document?</h4>
                    </div>
                    <div class="modal-body" data-bind="with: document()">
                        <p>Are you sure you want to delete document "<span data-bind="text: title"></span>"?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-bind="click: deleteDocument">Delete</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
    <div class="modal fade" id="profile-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit profile</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="document-title">First name</label>
                        <input type="email" class="form-control" id="profile-firstname" data-bind="value: user().firstName">
                    </div>
                    <div class="form-group">
                        <label for="document-title">Last name</label>
                        <input type="email" class="form-control" id="profile-lasname" data-bind="value: user().lastName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bind="click: updateUserInfo">Update</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
} {
    <ul class="nav pull-right navbar-nav">
        <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i>
                <span data-bind="text: user().displayName()"></span>
                <i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a tabindex="-1" href="#" data-toggle="modal" data-target="#profile-edit">Edit profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a tabindex="-1" href="@routes.Security.logout">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
}
